.black-nav {
  background-color: black;
  padding: 20px;
}

div {
  box-sizing: border-box;
}

.post {
  padding-left: 20px;
  border-bottom: 1px solid grey;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
}